.messages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 86px;
    max-width: 877px;
    width: 877px;
    height: 870px;
    margin-left: 260px;
    -webkit-box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.21);
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.21);
    background-color: #fff;
}