.main {
    display: flex;
    width: 500px;
    padding: 10px;
}

.main:hover{
    background-color: #ebebeb;
    cursor: pointer;
}

.avatar {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    margin-right: 10px;
    border-radius: 50%;
}

.info {

}

.name {
    font-family: Arial;
    font-weight: bold;
    font-size: small;
}

.lastMessage {
    font-size: medium;
}